@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500&display=swap");
.wrap {
  position: relative;
}
.wrap:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.4;
  width: 100%;
  height: 100vh;
  background-image: url("/public/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  /* good for fitting the background */
  background-size: cover;
}

.container {
  position:relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 65vh;
  justify-content: center;
  font-family: "Baloo Bhai 2", cursive;
  color: black;
}
