@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Comforter&family=Roboto:wght@300&display=swap');
.menu-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 4rem;
    height: 3rem;
    margin-right: 2rem;
    cursor: pointer;
    z-index: 100;
}

.menu-btn span{
    display: block;
    width: 3rem;
    height: 2.5px;
    background: white;
}

.title {
    color: white;
}

.title a {
    text-decoration: none;
    font-family: 'Comforter', cursive;
    color: white;
    font-size: 45px;
    margin: 10px 50px;
}

.header-nav {
    display: none;
}

.drawer-nav {
    height: 100%;
}

.drawer-nav a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

@media (min-width: 768px){
    .menu-btn {
        display: none;
    }
    .header-nav {
        display: block;
    }

    .header-nav a{
        text-decoration: none;
        color: white;
        font-size: 20px;
    }

    .header-nav a:active{
        color: gray;
    }
}