.avatar {
    width: 100%;
    height: 100%;
    display: flex; 
    justify-content: center;
    align-items: center;
  }
  
  .avatar img {
    display: block;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    /* maintains the aspect ratio,cuts of the sides of the image according to the specified height and width */
    object-fit: cover;
  }